<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>PostIt - Posts</title>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

        <main>
            <div class="container">
                <div id="center">
                    <input type="search" class="rbr" name="search" placeholder="Search...">
                    <button class="btn lbr">Search</button>
                </div>
                <% if (posts.length==0) { %>
                    <h2>You did not post anything</h2>
                    <% } else { %>
                        <% for(let i=0;i<posts.length;i++){ %>
                            <div id="each-post" onclick="window.location.href='/<%= posts[i].id %>'" class="post-card">
                                <div id="row-head">
                                    <img src="/images/avatar.png" alt="" srcset="" class="avatar">
                                    <p>
                                        <%= posts[i].posted_at.toLocaleString('en-En',{ weekday: 'long' ,
                                            year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' ,
                                            minute: '2-digit' }) %>
                                    </p>
                                </div>
                                <div id="row-image">
                                    <img src="<%= posts[i].image_url %>" alt="<%= posts[i].image_description %>"
                                        srcset="">
                                </div>
                                <div id="row-title">
                                    <h3>
                                        <%= posts[i].title %>
                                    </h3>
                                </div>
                                <div id="row-body">
                                    <p>
                                        <%= posts[i].body %>
                                    </p>
                                </div>
                                <div id="row-like">
                                    <button id="btn-like-<%= posts[i].id %>" class="btn"
                                        onclick="like('<%= posts[i].id %>','<%= posts[i].likes %>');"><i
                                            class="fa fa-thumbs-up"></i>
                                        <span id="like-count-<%= posts[i].id %>">
                                            <%= posts[i].likes %>
                                        </span>
                                    </button>
                                </div>

                            </div>
                            <% } %>
                                <% } %>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
            <script>
                const like = (id, like) => {
                    event.stopPropagation(); // stop click event of post element when clicking like button
                    const btn = document.getElementById(`btn-like-${id}`);
                    const likeCount = document.getElementById(`like-count-${id}`);
                    fetch(`/${id}`, {
                        method: 'PUT',
                    }).then(btn.classList.toggle('disabled'))
                        .then(like = Number(like) + 1)
                        .then(likeCount.innerText = like)
                }
            </script>
        <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>